#Source: https://github.com/github/gitignore

# JetBraens IDEs (PHPStorm, IntelliJ, WebStorm, PyCharm)
.idea/
*.iws
*.iml
*.ipr
out/

# Logs et temporaires
*.log
*.tmp
*.bak
*.swp

# Eclipse
.metadata
bin/
tmp/
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*.launch

### AJOUTS SPÉCIFIQUES AU PROJET ###
node_modules/
.sass-cache/
.env